/* Navigation Section */
#navbar{
    flex-direction: column;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}




/* Home section */
#home{
    height: 107px;
    padding: 3px 68px;
}
#home h1{
    padding-top: 60px;
    font-size: 24px;
}
#home::before{
    height: 280px;
}
#home p {
    font-size: 13px;
}


/*services Section  */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}


/* Clients Section */
#clients{
    flex-wrap: wrap;

}
#clients img{
    height: auto;
    width: 66px;
    padding: 6px;
}



/* Contact us  */


/* Footer  */


/* utiity */
.h-primary{
    font-size: 40px;
    padding-top: 50px;

}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}